<%- include("partials/header") -%>
<h1>Hello</h1>
<p>Go to Compose to add your new Journal blog</p>
<!-- <p><%= homeStartingContent %> </p> -->

    <% posts.forEach((post) => {%>
    <h1><%=post.title%></h1>
    <p><%=post.content.substring(0,100)+" ..."%>
    <a href="/posts/<%=post.title%>">Read more</a>  
    </p>  
    <% }) %>
<%- include("partials/footer") -%>